* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    width: 100%;
    height: 100vh;
    background-color: lightblue;
}

#container-geral {
    width: 100%;
    height: auto;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    
}

.nota-container {
    margin: 20px;
    height: 200px;
    width: 200px;
    background-color: aquamarine;
    border: 2px, solid, black;
}


/*--- Configurações do botão inicial ---*/
.button {
  margin: auto;
  margin-top: 10px;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 6px 12px;
  gap: 4px;
  height: 32px;
  border: none;
  background: #1b1b1cd0;
  border-radius: 20px;
  cursor: pointer;
}

.lable {
  line-height: 22px;
  font-size: 17px;
  color: #DE8A2A;
  font-family: sans-serif;
  letter-spacing: 1px;
}